.clearable-input_div {
  position: relative;
  display: inline-block;
}
.clearable-input_div > input {
  padding-right: 1.4em;
}
.clearable-input_div > span.data-clear-input {
  position: absolute;
  top: 4px;
  right: 5px;
  line-height: 1em;
  cursor: pointer;
}
.clearable-input_div > input::-ms-clear {
  display: none;
}
span.data-clear-input {
  color: #fff;
  background: #ccc;
  border-radius: 50%;
  width: 7px;
  text-align: center;
  padding: 1px 6px 4px 5px;
}
